 


/* banner */

.banner .hero {
    background: url(../image/bg-new.png) center / cover;
}


@media (max-width: 1024px) {
    .banner .hero {
        background: url(../image/bg-new.png) center / cover;
    }
}

@media (max-width: 768px) {
    .banner .hero {
        background: url(../image/bg-new.png) center / cover;
    }
}


/* part */

.part .p-title {
    text-align: center;
    padding: 5rem 0 5rem 0;
}

.part .p-title .title {
    font-weight: 500
}

.part .product {
    /* height: 10rem; */
    border-radius: 0.5rem;
}

.part .columns .column {
    margin: .5rem .5rem;
}

.part .product.bg1 {
    background: linear-gradient(45deg, rgb(16, 130, 212), rgb(104, 174, 224));
    /* 标准的语法 */
}

.part .product.bg2 {
    background: linear-gradient(45deg, rgb(6, 179, 115), rgb(104, 224, 196));
    /* 标准的语法 */
}

.part .product.bg3 {
    background: linear-gradient(45deg, rgb(191, 186, 13), rgb(229, 230, 133));
    /* 标准的语法 */
}

.part .product.bg4 {
    background: linear-gradient(45deg, rgb(204, 115, 5), rgb(230, 158, 69));
    /* 标准的语法 */
}

.part .product.bg5 {
    background: linear-gradient(45deg, rgb(212, 52, 16), rgb(224, 121, 104));
    /* 标准的语法 */
}

.part .product.bg6 {
    background: linear-gradient(45deg, rgb(179, 30, 228), rgb(190, 107, 224));
    /* 标准的语法 */
}

.part i.iconfont {
    font-size: 3rem;
}

.part .product {
    text-align: center
}

/* contact */

.contact{
    position: relative;
    /* height: 400px; */
    background: url(../image/ditu.png) center/cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact .right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact .right .wx{
    border:1px solid #666;
    padding: 1rem;
}

.contact .right .wxtxt{
    color: white;
    text-align: center;
    padding-top:1rem;
  
}



.contact .bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left: 0;
}

.contact .left{
  background-color: white;
  border:  1px solid #666;
  
}

.contact .hr{
    width: 100%;
    height: 1px;
    background-color: #666
}

.contact .address{
    margin-top: 1rem;
}

.contact .block{
    margin-top: 1rem;
}

.contact .email{
    margin-bottom: 1rem;
}

.contact .button{
    margin: 0 2rem 0 0;
}

/* news */

.news .newslist p{
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}

.news .newslist p span{
    float:right
}


/* link */

.link{
    padding: 2rem;
    background-color: #424141;
    color: white
    }

    .link .title{
        color: white
    }



   




